#content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -250px;
}

#search-engine {
    width: max-content;
    border: white;
}

#save {
    color: black;
    background-color: white;
    border: black;
}

#save, #search-engine {
    margin-bottom: .5em;
}

#save, #search-engine, #content {
    text-align: center;
    font-size: xx-large;
    outline: none;
}